html {
    background-color: #C8000A;
    box-sizing: border-box;
    font-family: Kreon;
    font-size: 20px;
    font-weight: 200;
}

input {
    width: 100%;
    padding: 20px;
}

.search-form {
    max-width: 400px;
    margin: 50px auto;
}

input.search {
    margin: 0;
    text-align: center;
    outline: 0;
    border: 10px solid #F7F7F7;
    width: 120%;
    left: -10%;
    position: relative;
    top: 10px;
    z-index: 2;
    border-radius: 5px;
    font-size: 40px
}


.suggestions {
    margin: 0;
    padding: 0;
    position: relative;
}

.suggestions li {
    background: white;
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    justify-content: space-between;
    text-transform: capitalize;
}
.hl {
  background:#ffb31a;
}

footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        margin: 15px;
        color: white;
        font-size: 12px;
}