html {
    background: url("https://images.unsplash.com/photo-1423589989400-cc0270157ed0?auto=format&fit=crop&w=750&q=80") bottom center;
    background-size: cover;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}